body {
    font-family: Arial, sans-serif;
    background:Url('https://t3.ftcdn.net/jpg/02/24/64/56/360_F_224645618_dtpq1bEjnN67g3gampm39hg698AUC9tf.jpg');
    background-repeat:no-repeat;
    background-size:cover;

  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color:white;
  }
  
  .cards-container {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
  }
  
  .card {
    background-color:white;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .cart {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    

  }
  
  .cart-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-items li {
    margin-bottom: 10px;
  }
  
  .buy {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buy-btn:hover {
    background-color: #45a049;
  }
 li{
    border-radius:8px;
    background-color:#2979ff;
 }
 li div{
    display:flex;
 }
 li div p{
    margin-left:20px;
 }
 li img{
    width:20px; 
    margin-left:1rem;
  }